# Ignore zip files
music/*.zip
music/bigband.zip

# Ignore old duplicate named tracks
music/dont_get_around.mp3
music/flying_home.mp3
music/moonlight_serenade.mp3
music/sentimental_journey.mp3
music/tuxedo_junction.mp3

# Generator output files
tracks_archive.js
